
NET "clk" LOC = A8;

NET "sw[0]" LOC = N15;
NET "sw[1]" LOC = J16;
NET "sw[2]" LOC = K16;
NET "sw[3]" LOC = K15;
NET "sw[4]" LOC = L15;
NET "sw[5]" LOC = M16;
NET "sw[6]" LOC = M15;
NET "sw[7]" LOC = N16;

NET "btn[0]" LOC = J13;
NET "btn[1]" LOC = K14;
NET "btn[2]" LOC = K13;
NET "btn[3]" LOC = K12;

NET "n1" LOC = T14;
NET "n2" LOC = R13;
NET "n3" LOC = T13;
NET "n4" LOC = R12;

# PlanAhead Generated physical constraints 

NET "n5" LOC = T12;
NET "n6" LOC = R11;
NET "n7" LOC = P8;
NET "n8" LOC = T10;
